#home{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding:20px;
}
#home header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home > aside{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#home > aside span:first-of-type{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  width: 100%;
}
#home > aside span:first-of-type div{
  display: flex;
  position: relative;
  flex-direction: column;
  height: 150px;
  padding: 20px;
  border-radius: 5px;
  gap: 20px;
  box-shadow: 4px 4px 4px #8281813c;
  background-color: var(--blue2);
  color: var(--white);
  position: relative;
}
#home > aside span:first-of-type div svg{
  position: absolute;
  right: 10px;
  font-size: 90pt;
  opacity: 0.4;
}
#home > aside span:first-of-type div button{
  width: 200px;
  height: 37px;
  border: none;
  border-radius: 4px;
  background-color: var(--white);
  color: var(--blue2);
  font-size: 11pt;
}
#home > aside span:first-of-type div h2{
  font-size: 22pt;
}
#home > aside span:first-of-type div h3{
  font-size: 30pt;
}
#home >  button{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  height: 45px;
  box-shadow: 4px 4px 4px #00000021;
  background-color: var(--gray2);
  color: var(--white);
  border-radius: 4px;
}

#home >  span{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

#home >  span > div{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 50px;
}

#home >  span > div div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  min-height: 70px;
  background-color: var(--white);
  box-shadow: 4px 4px 3px #1d1c1c18;
  border-radius: 4px;
}

#home >  span > div div span{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#home >  span > div div > div span:first-of-type{
  display: flex;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

}