#qrcodePro{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

#qrcodePro img{
  height: 300px;
  width: 300px;
}

@media screen and (max-width : 500px) {
  
#qrcodePro img{
  height: 250px;
  width: 250px;
}
}